<template>
  <ion-page>
    <ion-content ref="dashboard">
      <div class="bg-white">
        <div class="space-y-4 m-8 text-4xl">
          <div class="flex">
            <div class="font-medium text-blue-600 flex-grow">Dashboard</div>
            <div
              class="rounded-lg shadow-sm divide-y divide-blue-600 bg-blue-500"
            >
              <button @click="toPage('pengguna')">
                <UserIcon class="w-8 h-8 m-2 text-white" />
              </button>
            </div>
          </div>

          <div class="grid grid-cols-2">
            <button @click="toPage('komponen-apbd')">
              <div
                class="border border-grey-600 rounded-lg shadow-sm divide-y divide-blue-600 bg-blue-500 mr-2 mb-3"
              >
                <div class="">
                  <div class="bg-white rounded-lg m-11 mb-3">
                    <PresentationChartLineIcon
                      class="text-blue-500 w-auto h-auto p-4"
                    />
                  </div>
                  <a
                    class="block w-full text-lg font-semibold text-white text-center mt-4 leading-none font-sans mb-12"
                    >KOMPONEN<br />APBD</a
                  >
                </div>
              </div>
            </button>
            <button @click="toPage('grade-pd')">
              <div
                class="border border-grey-600 rounded-lg shadow-sm divide-y divide-blue-600 bg-yellow-500 ml-2 mb-3"
              >
                <div class="">
                  <div class="bg-white rounded-lg m-11 mb-3">
                    <CollectionIcon class="text-yellow-500 w-auto h-auto p-4" />
                  </div>
                  <a
                    class="block w-full text-lg font-semibold text-white text-center mt-4 leading-none font-sans mb-12"
                    >GRADE<br />PER PD</a
                  >
                </div>
              </div>
            </button>
            <button @click="toPage('rincian-paket-tender')">
              <div
                class="border border-grey-600 rounded-lg shadow-sm divide-y divide-blue-600 bg-green-500 mr-2 mb-3"
              >
                <div class="">
                  <div class="bg-white rounded-lg m-11 mb-3">
                    <ClipboardListIcon
                      class="text-green-500 w-auto h-auto p-4"
                    />
                  </div>
                  <a
                    class="block w-full text-lg font-semibold text-white text-center mt-4 leading-none font-sans mb-12"
                    >RINCIAN<br />PAKET<br />TENDER</a
                  >
                </div>
              </div>
            </button>
            <button @click="toPage('rincian-paket-nontender')">
              <div
                class="border border-grey-600 rounded-lg shadow-sm divide-y divide-blue-600 bg-green-500 ml-2 mb-3"
              >
                <div class="">
                  <div class="bg-white rounded-lg m-11 mb-3">
                    <ClipboardListIcon
                      class="text-green-500 w-auto h-auto p-4"
                    />
                  </div>
                  <a
                    class="block w-full text-lg font-semibold text-white text-center mt-4 leading-none font-sans mb-12"
                    >RINCIAN<br />PAKET<br />NON TENDER</a
                  >
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts" setup>
import {
  IonContent,
  IonPage,
} from "@ionic/vue";
import {
  PresentationChartLineIcon,
  UserIcon,
  CollectionIcon,
  ClipboardListIcon,
} from "@heroicons/vue/solid";

import { useRouter } from "vue-router";


// define router
const router = useRouter();

const toPage = (params: any) => {
  router.push(params);
};
</script>

<style></style>
