<template>
  <ion-page>
    <ion-content :fullscreen="true">
      <ion-refresher slot="fixed" @ionRefresh="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <div class="bg-white">
        <div class="m-6 text-4xl max-w-xl relative">

          <button @click="$router.go(-1)">
            <div class="flex">
              <ChevronLeftIcon class="w-5 h-5 mr-1 mt-1 text-blue-600" />
              <div class="text-xl font-bold text-blue-600 flex-grow">
                View Grade Pd
              </div>
              <div
                class="rounded-lg shadow-sm divide-y divide-blue-600 bg-blue-500"
              ></div>
            </div>
          </button>

          <div class="flex mt-8 items-center">
            <label class="text-xl font-bold text-black flex-grow">Bulan</label>
            <div class="flex-1 ml-2 w-full">
              <select v-model="paramData.bulan" @change="changeBulan($event)" class="bg-white text-black text-sm text-center appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-blue-500">
                <option v-for="item in dataBulan" :key="item.urut" :value="item.urut">{{item.nama}}</option>
              </select>
            </div>
          </div>


          <table-grade
            :loading="loading"
            :data-grade="grade.data"
            :data-rumus="grade.rumus"
          ></table-grade>
        </div>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts" setup>
const people = [
  {
    name: "Jane Cooper",
    title: "Regional Paradigm Technician",
    role: "Admin",
    email: "jane.cooper@example.com",
  },
  // More people...
];
import {
  IonContent,
  IonPage,
  IonRefresher,
  IonRefresherContent,
} from "@ionic/vue";
import { Menu, MenuButton, MenuItem, MenuItems } from "@headlessui/vue";
import { ChevronLeftIcon, ChevronDownIcon } from "@heroicons/vue/solid";

import { reactive, ref } from "vue";
import { useRoute } from "vue-router";

const route = useRoute();
// function services
import RealisasiService from "../../services/gradePd";
// component table grade
import TableGrade from "../../components/TableGrade.vue";
// component header

import { useIonRouter } from "@ionic/vue";
import dataBulan from "@/data/bulan"
import { Storage } from '@capacitor/storage';



const grade: any = reactive({
  data: null,
  rumus: null,
});

const loading = ref(false);

const doRefresh = (event: any) => {
  console.log("Begin async operation");
  setTimeout(() => {
    // console.log('Async operation has ended');
    getDetail();
    event.target.complete();
  }, 1000);
};

const getDetail = async () => {
  const params = route.params.id;
  loading.value = true;
  try {
    const res = await RealisasiService.getData();
    grade.data = res;
    grade.rumus = res.rumus;
    console.log(res);
    loading.value = false;
  } catch (error) {
    console.log(error);
  }
};

const paramData = reactive({
  tahun: null,
  anggaran: null,
  bulan: dataBulan[0]?.urut
})

const getKomponenApbd: any = reactive({
  data: null,
  total: null,
  rekening_2: null,
});

const changeBulan = (event: any) => {
  let bulan = event?.target.value
  paramData.bulan = bulan
  getSetting()
}

const getSetting = async () => {
  const { value }: any = await Storage.get({ key: 'setting' })
  let setting = JSON.parse(value)
  paramData.anggaran = setting?.anggaran
  paramData.tahun = setting?.tahun

  setTimeout(() => {
    getDetail()
  }, 300);
}

getDetail();
</script>
