<template>
<IonPage>
    <IonContent ref="komponent-apbd">
        <div class="min-h-screen px-5 py-4">
            <div id="header">
                <button  @click="router.back()">
                    <div class="flex">
                        <ChevronLeftIcon class="w-5 h-5 mr-1 mt-1 text-blue-600" />
                        <div class="text-xl font-bold text-blue-600 flex-grow">Komponen APBD</div>
                    </div>
                </button>
                <div class="flex mt-8 items-center">
                    <label class="text-xl font-bold text-black flex-grow">Bulan</label>
                    <div class="flex-1 ml-2 w-full">
                        <select v-model="paramData.bulan" @change="changeBulan($event)" class="bg-white text-black text-sm text-center appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-blue-500">
                        <option v-for="item in dataBulan" :key="item.urut" :value="item.urut">{{item.nama}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="pb-24">
              <!-- 5.1 -->
              <template v-for="item in getKomponenApbd?.data" :key="item">
                <div
                  v-if="item.kode_rekening_2 === '1' && item.kode_rekening_3 === null"
                  class="flex-grow mt-6 first:flex flex-col   "
                >
                  <div  class="bg-blue-600 text-white text-lg font-bold text-black-600 flex flex-wrap justify-between px-3 py-3">
                    <div>{{ item?.kode + " " + item?.uraian}}</div>
                    <div v-if="item?.persen_pagu">{{ item.persen_pagu.toFixed(2) + "%" }}</div>
                  </div>
                  <div class="bg-blue-700 px-3 py-3 text-white">
                    <div class="flex justify-between">
                      <div class="flex">
                        Pagu : Rp
                      </div>
                      <div>{{ n(item?.pagu) }}</div>
                    </div>
                    <div class="flex justify-between">
                      <div class="flex">
                        Realisasi : Rp
                      </div>
                      <div>{{ n(item?.realisasi) }}</div>
                    </div>
                  </div>
                </div>
                <div
                  v-if="item.kode_rekening_2 === '1' && item.kode_rekening_3"
                  class="flex-grow flex flex-col   "
                >
                  <div  class="bg-gray-200 text-gray-700 font-bold text-black-600 flex flex-wrap justify-between px-3 py-3">
                    <div>{{ item?.kode + " " + item?.uraian}}</div>
                    <div v-if="item?.persen_pagu">{{ item.persen_pagu.toFixed(2) + "%" }}</div>
                  </div>
                  <div class="bg-gray-100 text-gray-700 px-3 py-2">
                    <div class="flex justify-between">
                      <div class="flex">
                        Pagu : Rp
                      </div>
                      <div>{{ n(item?.pagu) }}</div>
                    </div>
                    <div class="flex justify-between">
                      <div class="flex">
                        Realisasi : Rp
                      </div>
                      <div>{{ n(item?.realisasi) }}</div>
                    </div>
                  </div>
                </div>
              </template>
              <!-- 5.2 -->
              <template v-for="item in getKomponenApbd?.data" :key="item">
                <div
                  v-if="item.kode_rekening_2 === '2' && item.kode_rekening_3 === null"
                  class="flex-grow mt-6 first:flex flex-col   "
                >
                  <div  class="bg-sky-600 text-white text-lg font-bold text-black-600 flex flex-wrap justify-between px-3 py-3">
                    <div>{{ item?.kode + " " + item?.uraian}}</div>
                    <div v-if="item?.persen_pagu">{{ item.persen_pagu.toFixed(2) + "%" }}</div>
                  </div>
                  <div class="bg-sky-700 px-3 py-3 text-white">
                    <div class="flex justify-between">
                      <div class="flex">
                        Pagu : Rp
                      </div>
                      <div>{{ n(item?.pagu) }}</div>
                    </div>
                    <div class="flex justify-between">
                      <div class="flex">
                        Realisasi : Rp
                      </div>
                      <div>{{ n(item?.realisasi) }}</div>
                    </div>
                  </div>
                </div>
                <div
                  v-if="item.kode_rekening_2 === '2' && item.kode_rekening_3"
                  class="flex-grow flex flex-col   "
                >
                  <div  class="bg-gray-200 text-gray-700 font-bold text-black-600 flex flex-wrap justify-between px-3 py-3">
                    <div>{{ item?.kode + " " + item?.uraian}}</div>
                    <div v-if="item?.persen_pagu">{{ item.persen_pagu.toFixed(2) + "%" }}</div>
                  </div>
                  <div class="bg-gray-100 text-gray-700 px-3 py-2">
                    <div class="flex justify-between">
                      <div class="flex">
                        Pagu : Rp
                      </div>
                      <div>{{ n(item?.pagu) }}</div>
                    </div>
                    <div class="flex justify-between">
                      <div class="flex">
                        Realisasi : Rp
                      </div>
                      <div>{{ n(item?.realisasi) }}</div>
                    </div>
                  </div>
                </div>
              </template>
               <!-- 5.3 -->
              <template v-for="item in getKomponenApbd?.data" :key="item">
                <div
                  v-if="item.kode_rekening_2 === '3' && item.kode_rekening_3 === null"
                  class="flex-grow mt-6 first:flex flex-col   "
                >
                  <div  class="bg-purple-600 text-white text-lg font-bold text-black-600 flex flex-wrap justify-between px-3 py-3">
                    <div>{{ item?.kode + " " + item?.uraian}}</div>
                    <div v-if="item?.persen_pagu">{{ item.persen_pagu.toFixed(2) + "%" }}</div>
                  </div>
                  <div class="bg-purple-700 px-3 py-3 text-white">
                    <div class="flex justify-between">
                      <div class="flex">
                        Pagu : Rp
                      </div>
                      <div>{{ n(item?.pagu) }}</div>
                    </div>
                    <div class="flex justify-between">
                      <div class="flex">
                        Realisasi : Rp
                      </div>
                      <div>{{ n(item?.realisasi) }}</div>
                    </div>
                  </div>
                </div>
                <div
                  v-if="item.kode_rekening_2 === '3' && item.kode_rekening_3"
                  class="flex-grow flex flex-col   "
                >
                  <div  class="bg-gray-200 text-gray-700 font-bold text-black-600 flex flex-wrap justify-between px-3 py-3">
                    <div>{{ item?.kode + " " + item?.uraian}}</div>
                    <div v-if="item?.persen_pagu">{{ item.persen_pagu.toFixed(2) + "%" }}</div>
                  </div>
                  <div class="bg-gray-100 text-gray-700 px-3 py-2">
                    <div class="flex justify-between">
                      <div class="flex">
                        Pagu : Rp
                      </div>
                      <div>{{ n(item?.pagu) }}</div>
                    </div>
                    <div class="flex justify-between">
                      <div class="flex">
                        Realisasi : Rp
                      </div>
                      <div>{{ n(item?.realisasi) }}</div>
                    </div>
                  </div>
                </div>
              </template>
               <!-- 5.3 -->
              <template v-for="item in getKomponenApbd?.data" :key="item">
                <div
                  v-if="item.kode_rekening_2 === '4' && item.kode_rekening_3 === null"
                  class="flex-grow mt-6 first:flex flex-col   "
                >
                  <div  class="bg-red-600 text-white text-lg font-bold text-black-600 flex flex-wrap justify-between px-3 py-3">
                    <div>{{ item?.kode + " " + item?.uraian}}</div>
                    <div v-if="item?.persen_pagu">{{ item.persen_pagu.toFixed(2) + "%" }}</div>
                  </div>
                  <div class="bg-red-700 px-3 py-3 text-white">
                    <div class="flex justify-between">
                      <div class="flex">
                        Pagu : Rp
                      </div>
                      <div>{{ n(item?.pagu) }}</div>
                    </div>
                    <div class="flex justify-between">
                      <div class="flex">
                        Realisasi : Rp
                      </div>
                      <div>{{ n(item?.realisasi) }}</div>
                    </div>
                  </div>
                </div>
                <div
                  v-if="item.kode_rekening_2 === '4' && item.kode_rekening_3"
                  class="flex-grow flex flex-col   "
                >
                  <div  class="bg-gray-200 text-gray-700 font-bold text-black-600 flex flex-wrap justify-between px-3 py-3">
                    <div>{{ item?.kode + " " + item?.uraian}}</div>
                    <div v-if="item?.persen_pagu">{{ item.persen_pagu.toFixed(2) + "%" }}</div>
                  </div>
                  <div class="bg-gray-100 text-gray-700 px-3 py-2">
                    <div class="flex justify-between">
                      <div class="flex">
                        Pagu : Rp
                      </div>
                      <div>{{ n(item?.pagu) }}</div>
                    </div>
                    <div class="flex justify-between">
                      <div class="flex">
                        Realisasi : Rp
                      </div>
                      <div>{{ n(item?.realisasi) }}</div>
                    </div>
                  </div>
                </div>
              </template>
            </div>
        </div>
        <div class="w-full bg-white fixed bottom-0 px-5 py-3 border-t-2">
          <div class="flex justify-between items-center">
            <div>
             <p class="text-sm font-semibold">Total Pagu(Rp)</p>
             <p class="text-sm font-semibold">Total Realisasi(Rp)</p>
             <p class="text-sm font-semibold">Persen(%)</p>
            </div>
            <div>
              <p class="text-sm font-semibold">{{n(getKomponenApbd.total?.total_pagu)}}</p>
              <p class="text-sm font-semibold">{{n(getKomponenApbd.total?.total_realisasi)}}</p>
              <p class="text-sm font-semibold">{{n(getKomponenApbd.total?.total_realisasi_persen)}}</p>
            </div>
          </div>
        </div>
    </IonContent>
</IonPage>
</template>
<script lang="ts" setup>
import { IonPage, IonContent } from '@ionic/vue';
import { useRouter } from 'vue-router';
import { reactive, ref } from 'vue';
import { Storage } from '@capacitor/storage';

import { ChevronLeftIcon } from "@heroicons/vue/outline"
import KomponenApbdService from "@/services/komponenApbdService";

import dataBulan from "@/data/bulan"

import numeral from 'numeral';
// var numeral = require('numeral');


const loading = ref(false)
const router = useRouter()

const paramData = reactive({
  tahun: null,
  anggaran: null,
  bulan: dataBulan[0]?.urut
})

const getKomponenApbd: any = reactive({
  data: null,
  total: null,
  rekening_2: null,
});

const n = (value: any) => {
  return numeral(value).format('0,0.[00]')
}

const initialState = async () => {
  const { value }: any = await Storage.get({ key: 'setting' })
  let setting = JSON.parse(value)
    paramData.anggaran = setting?.anggaran
    paramData.tahun = setting?.tahun
    setTimeout(() => {
        fetchData()
    }, 300);
}

const fetchData = async() => {
    loading.value = true;
    try {
    const res: any = await KomponenApbdService.getData({
      anggaran: paramData.anggaran,
      tahun: paramData.tahun,
      bulan: paramData.bulan,
    });
    getKomponenApbd.data = res.data;
    getKomponenApbd.total = res.total;
    getKomponenApbd.rekening_2 = res.rekening_2;
    console.log(res);
    loading.value = false;
  } catch (error) {
    console.log(error);
  }
}

const changeBulan = (event: any) => {
  let bulan = event?.target.value
  paramData.bulan = bulan
  initialState()
}

initialState()
</script>