<template>
  <ion-page>
    <div class="min-h-full flex flex-col justify-center py-12 sm:px-6 lg:px-8 bg-white">
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <img class="mx-auto h-32" src="../../assets/logo.jpeg" alt="Workflow" />
        <p class="mt-2 text-center text-2xl font-bold text-black">Tepra Mobile</p>
        <p class="mt-2 text-center text-xs text-black">Adaptasi Kaltim Tepra 2021</p>
      </div>
      <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 sm:rounded-lg sm:px-10">
          <form @submit.prevent="submit" class="space-y-6">
            <div>
              <label for="user" class="block text-sm font-medium text-gray-700">Username</label>
              <div class="mt-1">
                <input
                  v-model="form.username"
                  id="user"
                  name="user"
                  required
                  :disabled="loading"
                  class="bg-white text-black appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                />
              </div>
            </div>
            <div>
              <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
              <div class="mt-1">
                <input
                  v-model="form.password"
                  id="password"
                  name="password"
                  type="password"
                  autocomplete="current-password"
                  required
                  :disabled="loading"
                  class="bg-white text-black appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-blue-500 sm:text-sm"
                />
              </div>
            </div>
            <div class="mt-1">  
              <label for="password" class="block text-sm font-medium text-gray-700">Anggaran</label>
              <div class="mt-1">
                <select
                  v-model="form.anggaran"
                  :disabled="loading"
                  class="bg-white text-black appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-blue-500 sm:text-sm"
                > 
                  <option v-for="item in anggaran" :key="item.value" :value="item.value">{{item.label}}</option>
                </select>
              </div>
            </div>
            <div class="mt-1">  
              <label for="password" class="block text-sm font-medium text-gray-700">Tahun</label>
              <div class="mt-1">
                <select
                  v-model="form.tahun"
                  :disabled="loading"
                  class="bg-white text-black appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-blue-500 sm:text-sm"
                > 
                  <option v-for="item in tahun" :key="item.tahun" :value="item.tahun">{{item.tahun}}</option>
                </select>
              </div>
            </div>
            <div class="mt-4">
              <button
                type="submit"
                class="w-full flex justify-center items-center space-x-2 py-4 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-900 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                :disabled="loading"
              > 
                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" viewBox="0 0 24 24" class="w-5 h-5 animate-spin" v-if="loading">
                  <g fill="currentColor">
                    <path fill-rule="evenodd" d="M12 19a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm0 3c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10z" clip-rule="evenodd" opacity=".2"/>
                    <path d="M2 12C2 6.477 6.477 2 12 2v3a7 7 0 0 0-7 7H2z"/>
                  </g>
                </svg>
                <span> MASUK</span>
              
              </button>
            </div>
          </form>

            <button
              type="submit"
              class="w-full mt-1 flex justify-center py-2 px-4 border border-transparent rounded-md text-sm font-medium text-black bg-white hover:bg-grey-700 focus:outline-none focus:ring-1 focus:ring-offset-1 focus:ring-blue-700"
            >PANDUAN</button>
        </div>
      </div>
      <label class="block text-sm font-medium text-gray-700 absolute inset-x-0 bottom-0 text-center mb-5">SECEPAT MOBIL</label>
    </div>
  </ion-page>
</template>

<script lang="ts" setup>
import { Menu, MenuButton, MenuItem, MenuItems } from "@headlessui/vue";
import { ChevronLeftIcon, DownloadIcon } from "@heroicons/vue/solid";
import { IonPage, IonSelect, IonItem, IonSelectOption } from "@ionic/vue"
import  {ref, reactive } from "vue";
import  { useRouter } from "vue-router";

import { Storage } from '@capacitor/storage';

import AuthServices from "@/services/auth"

const router = useRouter()

const anggaran = ref([
  {
    label: "MURNI",
    value: "murni"
  },
  {
    label: "PERGESERAN",
    value: "pergeseran"
  },
  {
    label: "PERUBAHAN",
    value: "perubahan"
  }
])
const tahun = ref([{ tahun: "2021" }, { tahun: "2022" }])
const loading = ref(false)

const form = reactive({
  username: null,
  password: null,
  anggaran: anggaran.value[0].value,
  tahun: tahun.value[0].tahun
})

const submit = async () => {
  loading.value = true
  let body = {
    username: form.username,
    password: form.password
  }
  let settings = {
    jenis: form.anggaran,
    tahun: form.tahun,
  }

  try{
    const resp: any = await AuthServices.login(body)
    let token = resp?.token
    await Storage.set({
      key: 'token',
      value: token,
    });
    await Storage.set({
      key: 'setting',
      value: JSON.stringify(settings),
    });
    await Storage.set({
      key: 'user',
      value: JSON.stringify(resp?.user),
    });
    loading.value = false
    router.push('/dashboard')
  }catch(err: any) {
    loading.value = false
    console.log(err.response)
  }
}


</script>
