<template>
  <div v-if="loading" class="ion-padding custom-skeleton">
    <!-- progress ketika loading -->
  </div>
  <ion-page v-else>
    <ion-content :fullscreen="true">
      <ion-refresher slot="fixed" @ionRefresh="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <div class="bg-white">
        <div class="m-6 text-4xl max-w-xl relative">
                    <form class="space-y-3" action="/loginView" >
<button                 type="submit"
>
            <div class="flex">
              <ChevronLeftIcon class="w-5 h-5 mr-1 mt-1 text-blue-600" />
              <div class="text-xl font-bold text-blue-600 flex-grow">
                Panduan
              </div>
              <div
                class="rounded-lg shadow-sm divide-y divide-blue-600 bg-blue-500"
              ></div>
            </div>
          </button>
                    </form>
          <div class="flex flex-col mt-10">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-3 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  #
                </th>
                <th scope="col" class="px-1 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Nama File
                </th>
                <th scope="col" class="px-1 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Deskripsi
                </th>
                <th scope="col" class="px-1 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  Download
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(person, personIdx) in people" :key="person.email" :class="personIdx % 2 === 0 ? 'bg-white' : 'bg-gray-50'">
                <td class="px-3 py-4 whitespace-wrap text-sm text-gray-500">
                  {{ person.no }}
                </td>
                <td class="px-1 py-4 whitespace-wrap text-sm text-gray-500">
                  {{ person.name }}
                </td>
                <td class="px-1 py-4 whitespace-wrap text-sm text-gray-500">
                  {{ person.deskripsi }}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <!-- <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit</a> -->
                  <DownloadIcon class=" w-5 h-5 text-indigo-600 hover:text-indigo-900"/>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>

        </div>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts" setup>

const people = [
  {no:'1', name: 'Panduan Aplikasi Web Tepra 2022', deskripsi: 'Cara menggunakan web tepra 2022'  },
  {no:'2', name: 'Panduan Aplikasi Secepat Mobil 2022', deskripsi: 'Cara Menggunakan mobile secepat mobil 2022 '},
  // More people...
]
import {
  IonContent,
  IonPage,
  IonRefresher,
  IonRefresherContent,
} from "@ionic/vue";
import Chart from "chart.js/auto";
import { Menu, MenuButton, MenuItem, MenuItems } from "@headlessui/vue";
import { ChevronLeftIcon, DownloadIcon } from "@heroicons/vue/solid";




</script>
