<template>
  <ion-page>
    <ion-content ref="pengguna">
      <div
        class="min-h-full flex flex-col bg-white m-6 max-w-xl relative"
      >
        <div>
          <button  @click="router.back()">
            <div class="flex">
              <ChevronLeftIcon class="w-5 h-5 mr-1 mt-1 text-blue-600" />
              <div class="text-xl font-bold text-blue-600 flex-grow">
                Pengguna
              </div>
              <div
                class="rounded-lg shadow-sm divide-y divide-blue-600 bg-blue-500"
              ></div>
            </div>
          </button>
        </div>
        <div class="py-6">
          <div class="flex-col justify-center items-center">
              <div class="w-28 h-28 bg-gradient-to-r from-cyan-500 to-blue-500 rounded-full mx-auto flex justify-center items-center">
                <UserIcon class="w-16 h-16 text-white"/>
              </div>
              <div class="text-center mt-4">
                <p class="text-gray-600 text-sm">{{user?.level}}</p>
                <p class="font-semibold text-xl">{{user?.nama}}</p>
              </div>
              <div class="mt-12 -mx-5">
                <ul role="list" class="divide-y divide-gray-200">
                  <li  class="py-4 flex justify-between items-center bg-gray-50 px-5" @click="modalSetting = true">
                    <div class="ml-3 flex items-center space-x-4">
                     <CogIcon class="w-5 h-5 "/>
                      <p class="text-lg text-gray-900 font-semibold">Pengaturan</p>
                    </div>
                    <div>
                      <ChevronRightIcon class="w-5 h-5 "/>
                    </div>
                  </li>
                  <!-- <li  class="py-4 flex justify-between items-center  px-5">
                    <div class="ml-3 flex items-center space-x-4">
                     <DocumentDownloadIcon class="w-5 h-5 "/>
                      <p class="text-lg text-gray-900 font-semibold">Panduan</p>
                    </div>
                    <div>
                      <ChevronRightIcon class="w-5 h-5 "/>
                    </div>
                  </li> -->
                  <li  class="py-4 flex justify-between items-center px-5" @click="logout">
                    <div class="ml-3 flex items-center space-x-4">
                     <LogoutIcon class="w-5 h-5 "/>
                      <p class="text-lg text-gray-900 font-semibold">Keluar</p>
                    </div>
                    <div>
                      <ChevronRightIcon class="w-5 h-5 "/>
                    </div>
                  </li>
                </ul>
              </div>
          </div>
        </div>
        <ModalSetting v-model="modalSetting">
          <div>
            <div class="mt-3 sm:mt-5">
                <div class="mt-2">
                  <div class="mt-1">  
                    <label for="password" class="block text-sm font-medium text-gray-700">Anggaran</label>
                    <div class="mt-1">
                      <select
                        v-model="form.anggaran"
                        :disabled="loading"
                        class="bg-white text-black appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-blue-500 sm:text-sm"
                      > 
                        <option v-for="item in anggaran" :key="item.value" :value="item.value">{{item.label}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
               <div class="mt-3 sm:mt-5">
                <div class="mt-2">
                  <div class="mt-1">  
                    <label for="password" class="block text-sm font-medium text-gray-700">Tahun</label>
                    <div class="mt-1">
                      <select
                        v-model="form.tahun"
                        :disabled="loading"
                        class="bg-white text-black appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-blue-500 sm:text-sm"
                      > 
                        <option v-for="item in tahun" :key="item.tahun" :value="item.tahun">{{item.tahun}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-5 sm:mt-6">
              <button type="button" class="inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm" @click="saveSetting">Simpan Pengaturan</button>
            </div>
        </ModalSetting>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts" setup>
import {
  IonContent,
  IonPage,
  alertController
} from "@ionic/vue";
import {ref, reactive} from "vue"
import { ChevronLeftIcon, UserCircleIcon } from "@heroicons/vue/solid";
import {useRouter} from "vue-router"
import { UserIcon, LogoutIcon, ChevronRightIcon, CogIcon, DocumentDownloadIcon } from "@heroicons/vue/outline"
import { Storage } from "@capacitor/storage"
import ModalSetting from "@/components/Modal.vue"

const router = useRouter();

const user: any = ref(null)
const parseLocal = async () => {
  const { value } : any = await Storage.get({ key: 'user' });
  const parse = JSON.parse(value)
  user.value = parse
}

const anggaran = ref([
  {
    label: "MURNI",
    value: "murni"
  },
  {
    label: "PERGESERAN",
    value: "pergeseran"
  },
  {
    label: "PERUBAHAN",
    value: "perubahan"
  }
])
const tahun = ref([{ tahun: "2021" }, { tahun: "2022" }])

const form = reactive({
  anggaran: anggaran.value[0].value,
  tahun: tahun.value[0].tahun
})

const loading = ref(false)
const modalSetting = ref(false)

const saveSetting = async() => {
  let settings = {
    jenis: form.anggaran,
    tahun: form.tahun,
  }
   await Storage.set({
      key: 'setting',
      value: JSON.stringify(settings),
    });
  modalSetting.value = false
} 

const logout = async () => {
    const alert = await alertController
        .create({
          header: 'Peringatan',
          message: 'Apakah anda ingin keluar dari aplikasi',
          mode: 'ios',
          buttons: [
            {
              text: 'Batal',
              role: 'cancel',
              cssClass: 'secondary',
              id: 'cancel-button',
              handler: blah => {
                console.log('Confirm Cancel:')
              },
            },
            {
              text: 'Keluar',
              id: 'confirm-button',
              handler: async () => {
                await Storage.clear()
                router.push('/')
              },
            },
          ],
        });
      return alert.present();
}

parseLocal()
</script>
