<template>
  <ion-page>
    <ion-content ref="rincian-paket-tender">
      <div
        class="bg-white p-6 text-4xl max-w-xl relative grid justify-items-center"
      >
                  <button  @click="router.back()"
        class="grid justify-self-start">
          <div class="flex">
            <ChevronLeftIcon class="w-5 h-5 mr-1 mt-1 text-blue-600" />
            <div class="text-xl font-bold text-blue-600 flex-grow">
              Rincian Paket Tender
            </div>
          </div>
        </button>
      <div class="flex mt-8 items-center w-full">
            <label class="text-xl font-bold text-black w-1/4">Tender</label>
            <div class="flex-1 ml-2 w-1/2 ">
              
              <select v-model="paramData.unit" @change="changeUnit($event)" class="bg-white text-black text-sm text-center appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-blue-500">
                <option v-for="items in getUnitDanSubUnit.data" :key="items.nomor.display" :value="items.nomor.display">
          {{items.nomor.display + " - " + items.nama}}
                </option>
              </select>
            </div>
          </div>

        <div class="flex mt-2 items-center w-full">
            <label class="text-xl font-bold text-black w-1/4">Bulan</label>
            <div class="flex-1 ml-2 w-full">
              
              <select v-model="paramData.bulan" @change="changeBulan($event)" class="bg-white text-black text-sm text-center appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-blue-500">
                <option v-for="item in dataBulan" :key="item.urut" :value="item.urut">{{item.nama}}</option>
              </select>
            </div>
          </div>

        <!-- content -->
                <div v-for="(item) in getRincianPaketTender.data" :key="item" class="w-full"
        >
          <div
          class="rounded-lg mt-2 mb-2 "
            v-if="item.meta_pengadaan !== null"
        :class="[
          item?.meta_pengadaan?.code !== 'B' ? 'bg-red-600 ' : '',
        ]"
            >

            <div
          class="flex-grow flex flex-col
        rounded-lg mt-2 mb-2 
        p-3  text-white text-lg w-full divide "

        v-if="item.meta_pengadaan !== null"
        :class="[
          item?.meta_pengadaan?.code === 'B' ? 'bg-blue-600 ' : '',
          item?.meta_pengadaan?.code === 'H' ? 'bg-green-600 ' : '',
          item?.meta_pengadaan?.code === 'K' ? 'bg-yellow-600 ' : '',
        ]"
        >
          <table>
            <tbody
              class="divide-y-2 divide-white divide-opacity-80 divide-dashed "
            >
              <tr>
                <td class="px-3 py-2 text-xl text-white">
                  Kode
                </td>
                <td class="px-3 py-2 text-xl text-right text-white">
                  {{item.kode_sub_kegiatan}}
                </td>
              </tr>
              <tr>
                <td class="px-3 py-2 text-xl text-white">
                  <!-- no urut -->
                  <!-- {{ index + 1 }} -->
                  Nama
                </td>
                <td class="px-3 py-2 text-xl text-right text-white">
                  <!-- {{ warna.nama }} -->
                  {{item.nama_paket === null ? "-" : item.nama_paket}}
                </td>
              </tr>
            </tbody>
          </table>

          <div >
            <div class="flex space-x-2 text-center text-black " >
              <div
                class="rounded-lg bg-white  text-lg p-2 w-full p-5"
              >
                <div class="font-bold">REALISASI <br> KEUANGAN</div>
                <div class="text-2xl mt-2" v-if="item?.meta_realisasi_keuangan">{{item?.meta_realisasi_keuangan?.persen === null ? "0.00" : parseFloat(item?.meta_realisasi_keuangan?.persen).toFixed(2)}}%</div>
                <div class="text-2xl mt-2" v-else>0.00 %</div>
                <!-- {{item?.metode_pengadaan}} -->
              </div>
              <div
                class="rounded-lg bg-white  text-lg p-2 w-full p-5"
              >
                <div class="font-bold">REALISASI <br> FISIK</div>
                <div class="text-2xl mt-2" v-if="item?.meta_status_fisik">{{item?.meta_status_fisik?.nilai === null ? "0.00" : parseFloat(item?.meta_status_fisik?.nilai).toFixed(2)}}%</div>
                <div class="text-2xl mt-2" v-else>0.00 %</div>
              </div>
            </div>
          </div>
          

          <table>
            <tbody>
              <tr>
                <td class="px-3 py-2 text-xl text-white">
                  Lokasi
                </td>
                <td class="px-3 py-2 text-xl text-right text-white">
                  {{item.perangkat_daerah === null ? '-' : item?.perangkat_daerah?.pelaksana}}
                  <!-- {{item.perangkat_daerah.pelaksana.value}} -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
          </div>
        </div>


      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts" setup>
import chart from "chart.js/auto";
import rincianPaketTenderService from "../../services/rincianPaketTenderService";
import unitDanSubUnitService from "../../services/unitDanSubUnitService";
import { useRoute, useRouter } from "vue-router";
import {IonPage, IonContent, loadingController } from "@ionic/vue";
import { onMounted, ref, reactive, watch } from "vue";
import { ChevronLeftIcon, MinusSmIcon } from "@heroicons/vue/solid";
import numeral from "numeral";

import dataBulan from "@/data/bulan"

import { Storage } from '@capacitor/storage';

// function services
const router = useRouter();

const paramData = reactive({
  bulan: dataBulan[0]?.urut,
  unit: "1.01.2.22.0.00.01.0000",
  jenis: "strategis",
  tahun: "2021",
  anggaran: "perubahan"
})

const getRincianPaketTender: any = reactive({
  data: null,
  total: null
});

const getUnitDanSubUnit: any = reactive({
  unit_sub:null
})

const getSetting = async () => {
  const { value }: any = await Storage.get({ key: 'setting' })
  let setting = JSON.parse(value)
  paramData.anggaran = setting?.anggaran
  paramData.tahun = setting?.tahun

  setTimeout(() => {
    getDetail(),
    getDataUnitDanSubUnit()
  }, 300);
  
}

const loading = ref(true);

const getDataUnitDanSubUnit = async () => {
  loading.value = true;
  try{
    const res: any = await unitDanSubUnitService.getData();

    getUnitDanSubUnit.data = res.unit;
    console.log('unit', res)
  } catch (error)
 {
   console.log(error);
 }
}

const getDetail = async () => {
    const loading = await loadingController
  .create({
    cssClass: 'my-custom-class',
    message: 'Memuat data...',
    backdropDismiss: true
  });
        
  await loading.present();

  try{
    const res: any = await rincianPaketTenderService.getData({
      anggaran: paramData.anggaran,
      tahun: paramData.tahun,
      bulan: paramData.bulan,
      jenis: paramData.jenis,
      unit: paramData.unit,
    });

    getRincianPaketTender.data = res.data;
    loading.dismiss()
    // console.log(res)
  } catch (error) {
    loading.dismiss()
    console.log(error);
  }

}
const n = (value: any) => {
  return numeral(value).format("0,0.00");
};

const changeBulan = (event: any) => {
  let bulan = event?.target.value
  paramData.bulan = bulan
  getSetting()
}

const changeUnit = (event: any) => {
  let unit = event?.target.value
  paramData.unit = unit
  getSetting()
}

getSetting()
</script>
