<template>
  <button @click="router.back()">
    <div class="flex">
      <ChevronLeftIcon class="w-5 h-5 mr-1 mt-1 text-blue-600" />
      tes tes
    </div>
  </button>
</template>

<script lang="ts" setup>
import { IonSkeletonText } from "@ionic/vue";
import { defineProps } from "vue";
import { ChevronLeftIcon } from "@heroicons/vue/solid";

const props: any = defineProps({
  dataJudul: {
    type: Text,
    default: "",
  },
});
</script>
