<template>
  <div v-if="loading" class="ion-padding custom-skeleton">
    <ion-skeleton-text
      v-for="item in 4"
      v-bind:key="item"
      animated
      style="width: 100%"
    ></ion-skeleton-text>
  </div>
  <div
    v-else
    v-bind:key="item"
    class="text-center text-white mt-5"
    v-for="(item, key) in dataGrade"
  >
    <div
      class="
        flex flex-col
        divide-y divide-y divide-white
        text-xl
        rounded-lg
        p-3
      "
      v-if="key !== 'rumus'"
      :class="[
        key === 'biru' ? 'bg-blue-600 shadow-sm' : '',
        key === 'hijau' ? 'bg-green-600 text-black shadow-sm' : '',
        key === 'kuning' ? 'bg-yellow-600 text-black shadow-sm' : '',
        key === 'merah' ? 'bg-red-600 shadow-sm' : '',
      ]"
    >
      <table>
        <thead>
          <tr>
            <th :colspan="4" class="text-lg border-b py-3 px-0">
              {{
                key === "biru"
                  ? dataRumus.min.B +
                    " - " +
                    dataRumus.max.B +
                    " ( " +
                    dataGrade.biru.length +
                    " PD )"
                  : "" || key === "hijau"
                  ? dataRumus.min.H +
                    " - " +
                    dataRumus.max.H +
                    " ( " +
                    dataGrade.hijau.length +
                    " PD )"
                  : "" || key === "kuning"
                  ? dataRumus.min.K +
                    " - " +
                    dataRumus.max.K +
                    " ( " +
                    dataGrade.kuning.length +
                    " PD )"
                  : "" || key === "merah"
                  ? dataRumus.min.M +
                    " - " +
                    dataRumus.max.M +
                    " ( " +
                    dataGrade.merah.length +
                    " PD )"
                  : ""
              }}
            </th>
          </tr>
        </thead>
        <thead>
          <tr class="text-sm">
            <th class="text-center px-3 py-2 border-b">No</th>
            <th class="text-center px-3 py-2 border-b">Nama SKPD</th>
            <th class="text-center px-3 py-2 border-b">KEU (%)</th>
            <th class="text-center px-3 py-2 border-b">FISIK (%)</th>
          </tr>
        </thead>
        <tbody>
          <template v-for="(warna, index) in item" v-bind:key="warna">
            <tr>
              <td
                class="px-3 py-2 text-sm"
                :class="[index + 1 < warna.length ? 'border-b' : '']"
              >
                <!-- no urut -->
                {{ index + 1 }}
              </td>
              <td
                class="px-3 py-2 text-sm text-left"
                :class="[index + 1 < warna.length ? 'border-b' : '']"
              >
                {{ warna.nama }}
              </td>
              <td
                class="px-3 py-2 text-sm"
                :class="[index + 1 < warna.length ? 'border-b' : '']"
              >
                {{ warna.realisasi_keuangan_persen.toFixed(2) }}
              </td>
              <td
                class="px-3 py-2 text-sm"
                :class="[index + 1 < warna.length ? 'border-b' : '']"
              >
                {{ warna.realisasi_fisik_persen.toFixed(2) }}
              </td>
            </tr>
            <template v-for="(subs, index) in warna.subs" v-bind:key="subs">
              <tr class="text-black bg-white">
                <td
                  class="px-3 py-2 text-sm"
                  :class="[index + 1 < warna.length ? 'border-b' : '']"
                ></td>
                <td
                  class="px-3 py-2 text-sm text-left"
                  :class="[index + 1 < warna.length ? 'border-b' : '']"
                >
                  {{ subs.nama }}
                </td>
                <td
                  class="px-3 py-2 text-sm"
                  :class="[index + 1 < warna.length ? 'border-b' : '']"
                >
                  {{ subs.realisasi_keuangan_persen.toFixed(2) }}
                </td>
                <td
                  class="px-3 py-2 text-sm"
                  :class="[index + 1 < warna.length ? 'border-b' : '']"
                >
                  <!-- {{ subs.realisasi_fisik_persen.toFixed(2) }} -->
                </td>
              </tr>
            </template>
          </template>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { IonSkeletonText } from "@ionic/vue";
import { defineProps } from "vue";

const props: any = defineProps({
  loading: {
    type: Boolean,
    default: false,
  },
  dataGrade: {
    type: Object,
    default() {
        return { message: 'null' }
      }
  },
  dataRumus: {
    type: Object,
    default() {
        return { message: 'null' }
      }
  },
});
</script>
<style scoped>
/* Custom Skeleton Line Height and Margin */
.custom-skeleton ion-skeleton-text {
  line-height: 25vh;
}

.custom-skeleton ion-skeleton-text:last-child {
  margin-bottom: 50px;
}
</style>
